version: "3.8"

services:
  discord-widget:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: discord-widget
    ports:
      - '3000:3000'
    networks:
      - caddy

networks:
  caddy:
    external: true